////
/// concrete | src/components/resets/_button.scss
///
/// @group resets
////

///
/// Adds common reset styles for button elements.
///
@mixin reset-button($extend: true)
{
    @include dynamic-placeholder('reset-button', $extend)
    {
        border: 0;
        background: none;
        appearance: none;
    }
}
