////
/// concrete | src/components/resets/_button.scss
///
/// @group resets
////

@mixin reset-button($extend: true)
{
    @include dynamic-placeholder('reset-button', $extend)
    {
        appearance: none;
        background: none;
        border: 0;
    }
}
