////
/// concrete | src/components/resets/_form-element.scss
///
/// @group resets
////

///
/// Adds common reset styles for form related elements like inputs, selects and
/// textareas.
///
@mixin reset-form-element($extend)
{
    @include dynamic-placeholder('reset-form-element', $extend)
    {
        border-radius: 0;
        background: none;
        appearance: none;
    }
}
