////
/// concrete | source/core/_core.scss
/// file version: 1.01.013
///
/// All default concrete functions are within this file. Through these
/// functions you can easily use the variables you have set in your main
/// _concrete.scss file.
///
/// SassScript supports seven main data types:
/// - numbers (e.g. 1.2, 13, 10px, 0.2s);
/// - strings of text, with and without quotes (e.g. "foo", 'bar', baz);
/// - colors (e.g. blue, #04a3f9, rgba(255, 0, 0, 0.5));
/// - booleans (e.g. true, false);
/// - nulls (e.g. null);
/// - lists of values, separated by spaces or commas (e.g. 1.5em 1em 0 2em or
///   Helvetica, Arial, sans-serif);
/// - maps from one value to another (e.g. (key1: value1, key2: value2)).
///
/// @group Core
////

///
/// Returns a font-family value from the `$concrete-fonts` setting.
///
/// @param {string} $key [default]
///        The value of the corresponding key to return.
///
/// @return {string}
///
@function font($key: 'default')
{
    @if map-has-key($concrete-fonts, $key)
    {
        $return: map-get($concrete-fonts, $key);
        @return unquote($return);
    }

    @return warn('font', 'Unknown font `#{$key}`!');
}

///
/// Returns a font-size value from the `$concrete-font-sizes` setting.
///
/// @param {string} $key [default]
///        The value of the corresponding key to return.
///
/// @return {number}
///
@function font-size($key: 'default')
{
    @if map-has-key($concrete-font-sizes, $key)
    {
        @return map-get($concrete-font-sizes, $key);
    }

    @return warn('font-size', 'Unknown font-size `#{$key}`!');
}

///
/// Returns a line-height value from the `$concrete-line-heights` setting.
///
/// @param {string} $key [default]
///        The value of the corresponding key to return.
///
/// @return {number}
///
@function line-height($key: 'default')
{
    @if map-has-key($concrete-line-heights, $key)
    {
        @return map-get($concrete-line-heights, $key);
    }

    @return warn('line-height', 'Unknown line-height `#{$key}`!');
}

///
/// Returns a color value from the `$concrete-colors` setting. You can pass keys to
/// this functions with or withour quotes, eg. `color(grey)`  or
/// `color('grey')` as the key will be quoted to make sure the key can be
/// selected from the `$concrete-colors` map.
///
/// @param {string} $key [default]
///        The value of the corresponding key to return.
///
/// @return {color}
///
@function color($key: 'default')
{
    @if is-color($key)
    {
        @return $key;
    }

    $key: quote($key);
    @if map-has-key($concrete-colors, $key)
    {
        @return map-get($concrete-colors, $key);
    }

    @return warn('color', 'Unknown color `#{$key}`!');
}

///
/// @param {string} $name [default]
/// @param {string} $attr [false]
/// @return {map|number|string}
///
@function transition($name: 'default', $attr: false)
{
    @if map-has-key($concrete-transitions, $name)
    {
        $transition: map-get($concrete-transitions, $name);

        @if ($attr == false)
        {
            @return $transition;
        }
        @elseif map-has-key($transition, $attr)
        {
            @return map-get($transition, $attr);
        }
        @else
        {
            @return warn('transition',
                'Unknown attribute `#{$attr}` for transition `#{$name}`!');
        }
    }

    @return warn('transition', 'Unknown transition set `#{$name}`!');
}

///
/// When `$value` is either `min` or `max`, the min/max value is returned from
/// the breakpoint map inside `$concrete-breakpoints` with key `$breakpoint`.
/// If `$value` has any other value, the whole map (with min and max keys) will
/// be returned. If the breakpoint map cannot be found, a warning will be
/// stored in `$concrete-warnings`.
///
/// @param {string} $breakpoint [default] - The breakpoint to return.
///
/// @param {bool|string} $value [false]
///        The value of the breakpoint to return. This can be either `min`,
///        `max`, `false` or `both`.
///
/// @return {map|number}
///
@function breakpoint($breakpoint: null, $value: false)
{
    @if is-null($breakpoint)
    {
        $breakpoint: nth-first($_concrete-breakpoints);
    }

    @if map-has-key($concrete-breakpoints, $breakpoint)
    {
        $breakpoint: map-get($concrete-breakpoints, $breakpoint);

        @if ($value == false or $value == 'both')
        {
            @return $breakpoint;
        }
        @elseif map-has-key($breakpoint, $value)
        {
            @return map-get($breakpoint, $value);
        }
        @else
        {
            @return warn('breakpoint',
                'Unknown value `#{$value}` in `#{$breakpoint}`!');
        }
    }
    @else
    {
        @return warn('breakpoint',
            'Unknown breakpoint `#{$breakpoint}`!');
    }
}

///
/// Returns a width value from the `$concrete-container-width` setting.
///
/// @param {string} $breakpoint [default]
///
/// @return {number}
///
@function container-width($breakpoint: 'default')
{
    @return map-get($concrete-container-width, $breakpoint);
}

//------------------------------------------------------------------------------
// Private functions
//------------------------------------------------------------------------------

///
/// @access private
/// @group private
///
@function _concrete-init-breakpoints()
{
    // make a map with the minimum pixel width of the breakpoint as key so we
    // can sort the breakpoints from largest to smallest
    $sortedBreakpoints: ();
    @each $breakpoint, $value in $concrete-breakpoints
    {
        @if is-map($value)
        {
            $value: map-get($value, 'min');
        }
        $sortedBreakpoints: map-append($sortedBreakpoints, $value, $breakpoint);
    }

    $sortedBreakpoints:  map-ksort($sortedBreakpoints, 'numeric', true);

    @return map-values($sortedBreakpoints);
}

///
/// @access private
/// @group private
///
@function _concrete-parse-breakpoints()
{
    $result: ();
    $min:    false;
    $max:    false;

    // loop through the sorted breakpoints, calculate the start and end widths
    // of the breakpoint, and rearrange the $concrete-breakpoints map
    @each $breakpoint in $_concrete-breakpoints
    {
        $value: map-get($concrete-breakpoints, $breakpoint);
        @if is-map($value)
        {
            @if ($max == false)
            {
                $max: map-get($value, 'max')
            }

            $min:   map-get($value, 'min');
            $value: ('max': $max, 'min': $min);
        }
        @else
        {
            $min:   $value;
            $value: ('max': $max, 'min': $min);
        }

        $result: map-append($result, $breakpoint, $value);
        $max:    ($min - 1);
    }

    @return $result;
}

///
/// @access private
/// @group private
///
@function _concrete-init-breakpoint-settings($values, $defaultValue)
{
    $result: ();
    $value:  $defaultValue;

    @each $breakpoint in $_concrete-breakpoints
    {
        @if map-has-key($values, $breakpoint)
        {
            $value: map-get($values, $breakpoint);
        }

        $result: map-append($result, $breakpoint, $value);
    }

    @return $result;
}
