////
/// frame-scss | core/_map.scss
/// file version: 0.00.002
///
/// Some extra map related functions.
///
/// @group map
////

///
/// @param {map} $map
/// @param {string} $key
/// @param {mixed} $value
/// @param {string} $seperator [comma]
/// @return {map}
///
@function map-append($map, $key, $value, $seperator: 'comma')
{
    @if map-has-key($map, $key)
    {
        $currentValue: map-get($map, $key);
        $value:        append($currentValue, $value, $seperator);
        $map:          map-remove($map, $key);
    }

    $merge: ($key: $value);
    $map:   map-merge($map, $merge);

    @return $map;
}
