///
/// Calculates the relative em value compared to the given base font-size.
/// Example taken from http://vvv.tobiassjosten.net/css/px-to-em-with-sass/
///
/// @param {number} $value - The value to calculate the em value from.
/// @param {number|null} $base [null] - The font-size to compare the
///         original value with.
/// @return {number}
///
@function em($value: null, $base: null, $force: false)
{
    // set current value as the new base value
    @if is-true($base)
    {
        @if set-em($value)
        {
            $base:  $value;
            $value: null;
        }
    }
    // use a previously set em base value as default
    @elseif is-null($base)
    {
        $base: get-em();
    }

    @if is-number($base)
    {
        // return the base value
        @if is-null($value)
        {
            $value: $base;
        }
        // calculate the relative value
        @elseif is-true($concrete-relative-numbers) or is-true($force)
        {
            $value: if(equal-units($value, $base),
                       (($value / $base) * 1em),
                       $value);
        }
    }

    @return $value;
}
