///
/// Calculates the relative rem value. The rem units are always relative to the
/// font-size in the body html element.
///
/// @param {number} $value - The pixel value to calculate the rem value from.
/// @return {number}
///
@function rem($value: null)
{
    $base: get-rem-base-value();

    @if is-null($value)
    {
        $value: if(is-true($concrete-relative-numbers), 1rem, $base);
    }
    @elseif is-pixel($value) and
            is-pixel($base) and
            is-true($concrete-relative-numbers)
    {
        $value: (($value / $base) * 1rem);
    }

    @return $value;
}
