@function set-rem-base-value($value, $setEm: true)
{
    $result: false;

    @if is-pixel($value)
    {
        $result: storage-set('rem', $value);

        @if not is-false($setEm)
        {
            $dummy: set-em($value);
        }
    }

    @return $result;
}

@mixin set-rem-base-value($value, $setEm: true)
{
    $dummy: set-rem-base-value($value, $setEm);
}
