//-----------------------------------------------------------------------------
// Frame settings and variables
//-----------------------------------------------------------------------------
// Some useful links:
// - Github project: http://git.io/qoNLsw
//

//-----------------------------------------------------------------------------
// Fonts and font families
//-----------------------------------------------------------------------------
// Here is where you can define all of the fonts used by your application.
// The default font will automatically be set to the html, input, select,
// option, textarea and button elements.
//
$frame-fonts:
(
    default: sans-serif
);

//-----------------------------------------------------------------------------
// Font sizes
//-----------------------------------------------------------------------------
// When set, the font sizes for headings (h1-h6) will automatically be
// defined in partials/_default.scss.
//
$frame-font-sizes:
(
    default: 16px,
    h1:      32px,
    h2:      24px,
    h3:      18px,
    h4:      16px,
    h5:      13px,
    h6:      10px
);

//-----------------------------------------------------------------------------
// Colors
//-----------------------------------------------------------------------------
// Define all of your colors here. These can be anything from font colors,
// background-colors to border-colors.
//
$frame-colors:
(
    default: #000
);

//-----------------------------------------------------------------------------
// Transitions
//-----------------------------------------------------------------------------
// If you're using transitions most of the time the duration and easing
// properties are the same for all transitions. You can
//
$frame-transitions:
(
    default:
    (
        delay:    0s,
        duration: .2s,
        easing:   ease-in-out
    )
);

//-----------------------------------------------------------------------------
// Breakpoints
//-----------------------------------------------------------------------------
$frame-breakpoints:
(
    default: 1440px,

    xl: (min: 1200px,  max: 1440px ),  // desktop >
    l:  (min: 1024px,  max: 1199px ),  // tablet landscape
    m:  (min: 768px,   max: 1023px ),  // tablet portrait
    s:  (min: 480px,   max: 767px ),   // mobile landscape
    xs: (min: 240px,   max: 479px )    // mobile portrait
);

//-----------------------------------------------------------------------------
// Grid
//-----------------------------------------------------------------------------
$frame-grid:
(
    block: xl l m s xs,
    table: xl l m s xs,
    flex:  xl l m s xs
);

$frame-grid-width:
(
    default: 100%,
    xl: 90%,
    s:  95%
);

$frame-grid-columns:
(
    block: 12,
    table: 12,
    flex:  12
);

$frame-grid-gap:
(
    default: 10px,
    xl:      15px,
    s:       8px,
    xs:      5px
);

//-----------------------------------------------------------------------------
// Other variables
//-----------------------------------------------------------------------------
// You can set any other variables you'd like to use in this section.
//
$lineHeight:   1.6em;
$borderRadius: 3px;

//-----------------------------------------------------------------------------
// Import frame-sccs
//-----------------------------------------------------------------------------
// Last but not least, import the frame-scss initializer. This will import all
// the needed functions and mixins to get you started :)
//
@import '../../source/init';

//-----------------------------------------------------------------------------
// Enable/disable default frame-scss features.
//-----------------------------------------------------------------------------
.cb,
.clear       { @extend %frame-clearboth; }

.cf,
.clearfix    { @extend %frame-clearfix; }

.dh,
.hidden      { @extend %frame-hidden; }

.dv,
.visible     { @extend %frame-visible; }

.nw,
.nowrap      { @extend %frame-nowrap; }

.cy,
.center-y    { @extend %frame-center-y; }

.cx,
.center-x    { @extend %frame-center-x; }

.cxy,
.center-xy   { @extend %frame-center-xy; }

.fw,
.fill-width  { @extend %frame-img-fill-width; }

.fh,
.fill-height { @extend %frame-img-fill-height; }

.mw,
.max-width   { @extend %frame-img-max-width; }

.mh,
.max-height  { @extend %frame-img-max-height; }

//.blockgrid { @include frame-create-grid(block); }
//.tablegrid { @include frame-create-grid(table); }
//.flexgrid  { @include frame-create-grid(flex); }
