//------------------------------------------------------------------------------
// Import Frame assets
//------------------------------------------------------------------------------
// Import all the Frame assets you like. Ofcourse you can also import your own
// or 3rd party .scss files at this point.
//
@import '../../frame';

////////////////////////////////////////////////////////////////////////////////

$x:warn('function-name', 'First warning.');
$x:warn('function-name', 'Second warning!');
$x:warn('function-name', 'This is your last warning!');

$x:frame-color('unknown-color');

@include frame-display-warnings();
