//
// concrete | _concrete.scss
//
// Settings and variables
//------------------------------------------------------------------------------
// For more information about the available settings, check either the included
// help documents, examples, or visit the project page:
// https://github.com/roeldev/concrete
//

//------------------------------------------------------------------------------
// Fonts and font families
//------------------------------------------------------------------------------
// Here is where you can define all of the font styles used in your application.
// The default font will automatically be set to the html, input, select,
// option, textarea and button elements.
//
$concrete-font-styles:
(
    'default':
    (
        'font-family': ('some-custom-font', sans-serif),
        'font-size':   16px,
        'font-weight': 300,
        'line-height': 1.6em
    ),

    'h1':
    (
        'font-size': 32px
    ),

    'h2':
    (
        'font-size': 24px
    ),

    'h3':
    (
        'font-size': 18px
    ),

    'h4':
    (
        'font-size': 16px
    ),

    'h5':
    (
        'font-size': 13px
    ),

    'h6':
    (
        'font-size': 10px
    )
);

//------------------------------------------------------------------------------
// Transitions
//------------------------------------------------------------------------------
// If you're using transitions most of the time the duration and easing
// properties are the same for all transitions. You can
//
$concrete-transitions:
(
    'default':
    (
        'delay':    0s,
        'duration': 0.2s,
        'easing':   ease-in-out
    )
);

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------
// Add all the breakpoints you need.
//
$concrete-breakpoints:
(
    // desktop >
    'xl': ('min': 1200px, 'max': 1440px),

    // tablet landscape
    'lg': 1024px,

    // tablet portrait
    'md': 768px,

    // mobile landscape
    'sm': 480px,

    // mobile portrait
    'xs': 240px
);

$concrete-breakpoint-scrollbar-buffer:
(
    'xl': 20px,
    'md': 0
);

//------------------------------------------------------------------------------
// Container and grid
//------------------------------------------------------------------------------
$concrete-containers:
(
    'xl':
    (
        'width':   90%,
        'padding': 20px 30px
    )
);

$concrete-grid-gap:
(
    'xl': 15px,
    'lg': 10px,
    'sm': 8px,
    'xs': 5px
);

//------------------------------------------------------------------------------
// Imports
//------------------------------------------------------------------------------
// By default concrete will include a slightly edited version of Normalize.css
// and some default styles. If you do not wish to use these, you can set the
// below import values to false.
// For use with Bootstrap, it is recommended to not import Normalize.css and
// the default styles.
// Please not that the default placeholders are always imported.
//
$concrete-import-normalize: true;
$concrete-import-defaults:  true;

//------------------------------------------------------------------------------
// Warnings and debug
//------------------------------------------------------------------------------
// Display warnings and/or debug messages in console. Warnings and debugs are
// always displayed in the compiled CSS file.
//
$concrete-console-warnings:  false;
$concrete-console-debugs:    false;
$concrete-debug-breakpoints: false;

//------------------------------------------------------------------------------
// Import the concrete framework
//------------------------------------------------------------------------------
// Last but not least, import the concrete initializer. This will import all
// the needed functions and mixins to get you started :)
//
@import 'src/init';
