//
// concrete | _concrete.scss
// file version: 0.01.003
//
// Settings and variables
//------------------------------------------------------------------------------
// For more information about the available settings, check either the included
// help documents, examples, or visit the project page:
// https://github.com/roeldev/concrete
//

//------------------------------------------------------------------------------
// Fonts and font families
//------------------------------------------------------------------------------
// Here is where you can define all of the fonts used by your application.
// The default font will automatically be set to the html, input, select,
// option, textarea and button elements.
//
$concrete-fonts:
(
    'default': ('some-custom-font', sans-serif)
);

//------------------------------------------------------------------------------
// Font sizes
//------------------------------------------------------------------------------
// When set, the font sizes for headings (h1-h6) will automatically be
// defined in partials/_default.scss.
//
$concrete-font-sizes:
(
    'default': 16px,
    'h1':      32px,
    'h2':      24px,
    'h3':      18px,
    'h4':      16px,
    'h5':      13px,
    'h6':      10px
);

//------------------------------------------------------------------------------
// Line heights
//------------------------------------------------------------------------------
$concrete-line-heights:
(
    'default': 1.6em
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
// Define all of your colors here. These can be anything from font colors,
// background-colors to border-colors.
//
$concrete-colors:
(
    'default': #000
);

//------------------------------------------------------------------------------
// Transitions
//------------------------------------------------------------------------------
// If you're using transitions most of the time the duration and easing
// properties are the same for all transitions. You can
//
$concrete-transitions:
(
    'default':
    (
        'delay':    0s,
        'duration': 0.2s,
        'easing':   ease-in-out
    )
);

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------
// Add all the breakpoints you need.
//
$concrete-breakpoints:
(
    'xl': ('min': 1200px, 'max': 1440px), // desktop >
    'lg': 1024px,                         // tablet landscape
    'md': 768px,                          // tablet portrait
    'sm': 480px,                          // mobile landscape
    'xs': 240px,                          // mobile portrait
);

$concrete-breakpoint-scrollbar-buffer:
(
    'xl': 20px,
    'md': 0
);

//------------------------------------------------------------------------------
// Container and grid
//------------------------------------------------------------------------------
$concrete-container-width:
(
    'xl': 90%,
    'lg': 95%
);

$concrete-grid-gap:
(
    'xl': 15px,
    'lg': 10px,
    'sm': 8px,
    'xs': 5px
);

//------------------------------------------------------------------------------
// Warnings and debug
//------------------------------------------------------------------------------
// Display warnings and/or debug messages in console. Warnings and debugs are
// always displayed in the compiled CSS file.
//
$concrete-console-warnings: false;
$concrete-console-debugs:   false;

//------------------------------------------------------------------------------
// Other variables
//------------------------------------------------------------------------------
// You can set any other variables you'd like to use in this section.
//
$example-border-radius: 3px;

//------------------------------------------------------------------------------
// Import the concrete framework
//------------------------------------------------------------------------------
// Last but not least, import the concrete initializer. This will import all
// the needed functions and mixins to get you started :)
//
@import 'source/init';
