//
// frame-scss | _frame.scss
// file version: 0.01.001
//
// Frame settings and variables
//------------------------------------------------------------------------------
// For more information about the available settings, check either the included
// help documents, examples, or visit the project page: http://git.io/qoNLsw
//

//------------------------------------------------------------------------------
// Fonts and font families
//------------------------------------------------------------------------------
// Here is where you can define all of the fonts used by your application.
// The default font will automatically be set to the html, input, select,
// option, textarea and button elements.
//
$frame-fonts:
(
    default: ('some-custom-font', sans-serif)
);

//------------------------------------------------------------------------------
// Font sizes
//------------------------------------------------------------------------------
// When set, the font sizes for headings (h1-h6) will automatically be
// defined in partials/_default.scss.
//
$frame-font-sizes:
(
    default: 16px,
    h1:      32px,
    h2:      24px,
    h3:      18px,
    h4:      16px,
    h5:      13px,
    h6:      10px
);

//------------------------------------------------------------------------------
// Colors
//------------------------------------------------------------------------------
// Define all of your colors here. These can be anything from font colors,
// background-colors to border-colors.
//
$frame-colors:
(
    default: #000
);

//------------------------------------------------------------------------------
// Transitions
//------------------------------------------------------------------------------
// If you're using transitions most of the time the duration and easing
// properties are the same for all transitions. You can
//
$frame-transitions:
(
    default:
    (
        delay:    0,
        duration: .2s,
        easing:   ease-in-out
    )
);

//------------------------------------------------------------------------------
// Breakpoints
//------------------------------------------------------------------------------
$frame-breakpoints:
(
    xl: (min: 1200px, max: 1440px), // desktop >
    l:  1024px,  // tablet landscape
    m:  768px,  // tablet portrait
    s:  480px,  // mobile landscape
    xs: 240px   // mobile portrait
);

$frame-breakpoint-scrollbar-buffer:
(
    default: 20px
);

//------------------------------------------------------------------------------
// Grid
//------------------------------------------------------------------------------
$frame-grid-width:
(
    default: 100%,
    xl:      90%,
    s:       95%
);

$frame-grid-gap:
(
    default: 10px,
    xl:      15px,
    s:       8px,
    xs:      5px
);

//------------------------------------------------------------------------------
// Other variables
//------------------------------------------------------------------------------
// You can set any other variables you'd like to use in this section.
//
$lineHeight:   1.6em;
$borderRadius: 3px;

//------------------------------------------------------------------------------
// Import frame-sccs
//------------------------------------------------------------------------------
// Last but not least, import the frame-scss initializer. This will import all
// the needed functions and mixins to get you started :)
//
@import 'source/init';
