//
// frame-scss | components/_basics.scss
// file version: 0.00.001
//

@mixin _frame-display-headings()
{
    $fontSizes: ();

    // loop through h1-h6
    @for $i from 1 through 6
    {
        $heading: 'h'+ $i;

        // check if the heading is set in the settings file
        @if map-has-key($frame-font-sizes, $heading)
        {
            $fontSize:  frame-font-size($heading);
            $heading:   $heading +', .'+ $heading;
            $fontSizes: map-append($fontSizes, $fontSize, unquote($heading));
        }
    }

    // loop through all font-sizes and display the grouped headings
    @each $fontSize, $headings in $fontSizes
    {
        #{$headings}
        {
            font-size: rem($fontSize);
        }
    }
}

@mixin _frame-display-wrapper()
{
    $maxWidth: frame-breakpoint(xl, max);
    @if ($maxWidth == false)
    {
        $maxWidth: frame-breakpoint(xl, min);
    }

    width:     frame-grid-width();
    max-width: $maxWidth;

    /*@each $breakpoint, $breakpointValues in $frame-breakpoints
    {
        $bpMin:   map-get($breakpointValues, min);
        $bpMax:   map-get($breakpointValues, max);
        $bpWidth: frame-grid-width($breakpoint);

        @if ($min == false)
        {
            $min: $bpMin;
            $max: $bpMax;
        }

        @if ($bpWidth != $width)
        {
            @include add-custom-breakpoint($min, $max)
            {
                width: $width;
            }
        }
    }*/
}
