////
/// frame-scss | components/_compatibility.scss
/// file version: 1.01.003
///
/// These functions add backwards compatible prefixes for older browsers.
///
/// Example
/// Normal CSS:           background-size: contain;
/// Using the SCSS mixin: @include background-size(contain);
////

@mixin appearance($value: none)
{
    -webkit-appearance: $value;
       -moz-appearance: $value;
            appearance: $value;
}

//------------------------------------------------------------------------------

@mixin background-size($value)
{
    -webkit-background-size: $value;
       -moz-background-size: $value;
         -o-background-size: $value;
            background-size: $value;
}

//------------------------------------------------------------------------------

@mixin box-shadow($value)
{
    -webkit-box-shadow: $value;
       -moz-box-shadow: $value;
            box-shadow: $value;
}

@mixin box-sizing($value: border-box)
{
    -webkit-box-sizing: $value;
       -moz-box-sizing: $value;
            box-sizing: $value;
}

//------------------------------------------------------------------------------

@mixin column-break-inside($value: avoid)
{
    -webkit-column-break-inside: $value;
              page-break-inside: $value;
                   break-inside: $value;
}

@mixin column-count($value)
{
    -webkit-column-count: $value;
       -moz-column-count: $value;
            column-count: $value;
}

@mixin column-gap($value)
{
    -webkit-column-gap: $value;
       -moz-column-gap: $value;
            column-gap: $value;
}

@mixin column-rule($value)
{
    -webkit-column-rule: $value;
       -moz-column-rule: $value;
            column-rule: $value;
}

@mixin column-rule-color($value)
{
    -webkit-column-rule-color: $value;
       -moz-column-rule-color: $value;
            column-rule-color: $value;
}

@mixin column-rule-style($value)
{
    -webkit-column-rule-style: $value;
       -moz-column-rule-style: $value;
            column-rule-style: $value;
}

@mixin column-rule-width($value)
{
    -webkit-column-rule-width: $value;
       -moz-column-rule-width: $value;
            column-rule-width: $value;
}

@mixin column-span($value)
{
    -webkit-column-span: $value;
       -moz-column-span: $value;
            column-span: $value;
}

@mixin column-width($value)
{
    -webkit-column-width: $value;
       -moz-column-width: $value;
            column-width: $value;
}

@mixin columns($value)
{
    -webkit-columns: $value;
       -moz-columns: $value;
            columns: $value;
}

//------------------------------------------------------------------------------

@mixin flex($value)
{
    -webkit-flex: $value;
       -moz-flex: $value;
        -ms-flex: $value;
            flex: $value;
}

@mixin flex-basis($value)
{
    -webkit-flex-basis: $value;
       -moz-flex-basis: $value;
        -ms-flex-basis: $value;
            flex-basis: $value;
}

@mixin flex-direction($value)
{
    -webkit-flex-direction: $value;
       -moz-flex-direction: $value;
        -ms-flex-direction: $value;
            flex-direction: $value;
}

@mixin flex-flow($value)
{
    -webkit-flex-flow: $value;
       -moz-flex-flow: $value;
        -ms-flex-flow: $value;
            flex-flow: $value;
}

@mixin flex-grow($value)
{
    -webkit-flex-grow: $value;
       -moz-flex-grow: $value;
        -ms-flex-grow: $value;
            flex-grow: $value;
}

@mixin flex-shrink($value)
{
    -webkit-flex-shrink: $value;
       -moz-flex-shrink: $value;
        -ms-flex-shrink: $value;
            flex-shrink: $value;
}

@mixin flex-wrap($value)
{
    -webkit-flex-wrap: $value;
       -moz-flex-wrap: $value;
        -ms-flex-wrap: $value;
            flex-wrap: $value;
}

@mixin align-content($value)
{
    -webkit-align-content: $value;
            align-content: $value;
}

@mixin align-items($value)
{
    -webkit-align-items: $value;
            align-items: $value;
}

@mixin align-self($value)
{
    -webkit-align-self: $value;
            align-self: $value;
}

@mixin justify-content($value)
{
    -webkit-justify-content: $value;
       -moz-justify-content: $value;
            justify-content: $value;
}

//------------------------------------------------------------------------------

@mixin transform($value)
{
    -webkit-transform: $value;
       -moz-transform: $value;
        -ms-transform: $value;
         -o-transform: $value;
            transform: $value;
}

@mixin transform-origin($value)
{
    -webkit-transform-origin: $value;
       -moz-transform-origin: $value;
        -ms-transform-origin: $value;
         -o-transform-origin: $value;
            transform-origin: $value;
}

@mixin transform-style($value)
{
    -webkit-transform-style: $value;
       -moz-transform-style: $value;
            transform-style: $value;
}

//------------------------------------------------------------------------------

@mixin opacity($opacity)
{
    $filterOpacity: ($opacity * 100);

    opacity: $opacity;
    filter:  alpha(opacity=#{$filterOpacity});
}

//------------------------------------------------------------------------------

@mixin user-select($value: none)
{
    -webkit-user-select: $value;
     -khtml-user-select: $value;
       -moz-user-select: $value;
        -ms-user-select: $value;
            user-select: $value;
}
