////
/// concrete | source/components/_fonts.scss
////

///
/// A function to add new font-families with `@font-face`.
///
/// @param {string} $name
///        The name of the font-family.
///
/// @param {string} $dir
///        The folder where the folders should be loaded from.
///
/// @param {string} $file
///        The name of the font file without file extension.
///
@mixin font-face($name, $dir, $file)
{
    @font-face
    {
        font-family: $name;
        font-weight: normal;
        font-style:  normal;

        src: url("#{$dir}#{$file}.eot");
        src: url("#{$dir}#{$file}.eot?#iefix") format("embedded-opentype"),
             url("#{$dir}#{$file}.woff") format("woff"),
             url("#{$dir}#{$file}.ttf") format("truetype"),
             url("#{$dir}#{$file}.svg##{$name}") format("svg");
    }

    @media screen and (-webkit-min-device-pixel-ratio:0)
    {
        @font-face
        {
           font-family: $name;
           src: url("#{$dir}#{$file}.svg##{$name}") format("svg") !important;
        }
    }
}

///
/// Displays all properties from the given font-style.
///
@mixin font-style($name, $properties: 'all')
{
    $fontStyle: get-font-style($name);

    font-family: get-font-family($name);

    @each $property, $value in $fontStyle
    {
        #{$property}: #{$value};
    }
}
