//
// frame-scss | components/_fontastic.scss
// file version: 1.01.001
//

//------------------------------------------------------------------------------
// A function to add new font-families with @font-face.
//
// @param $name The name of the font-family.
// @param $dir The folder where the folders should be loaded from.
// @param $file The name of the font file without file extension.
//
@mixin font-face($name, $dir, $file)
{
    @font-face
    {
        font-family: $name;
        font-weight: normal;
        font-style:  normal;

        src: url("#{$dir}#{$file}.eot");
        src: url("#{$dir}#{$file}.eot?#iefix") format("embedded-opentype"),
             url("#{$dir}#{$file}.woff") format("woff"),
             url("#{$dir}#{$file}.ttf") format("truetype"),
             url("#{$dir}#{$file}.svg##{$name}") format("svg");
    }

    @media screen and (-webkit-min-device-pixel-ratio:0)
    {
        @font-face
        {
           font-family: $font;
           src: url("#{$dir}#{$file}.svg##{$name}") format("svg") !important;
        }
    }
}

//------------------------------------------------------------------------------
// You can use this mixin in your main stylesheet. It will make adding icon
// fonts made with Fontastic even easier. It includes some fixes over the
// normal Fontastic generated CSS.
//
// *Fontastic base CSS from fontastic.me.
//
// @param $font The name of the font file without file extension.
// @param $prefix A styleclass prefix for the added icons.
// @param $dir The folder where the folders should be loaded from.
//
@mixin fontastic($font, $prefix: 'icon', $dir: '/fonts/')
{
    @include font-face($font, $dir, $font);

    %fontastic
    {
        font-family:    $font !important;
        font-style:     normal !important;
        font-weight:    normal !important;
        font-variant:   normal !important;
        text-transform: none !important;
        speak:          none;
        line-height:    1;

        -webkit-font-smoothing:  antialiased;
        -moz-osx-font-smoothing: grayscale;

        cursor: default;
        @include user-select;
    }

    [data-#{$prefix}]:before
    {
        @extend %fontastic;
        content: attr(data-icon);
    }

    [class^="#{$prefix}-"]:before,
    [class*=" #{$prefix}-"]:before
    {
        @extend %fontastic;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0)
    {
        .fontastic,
        [data-#{$prefix}]:before,
        [class^="#{$prefix}-"]:before,
        [class*=" #{$prefix}-"]:before
        {
            padding-top: 1px;
            line-height: 1.15em !important;
        }
    }

    @content;
}
