//
// frame-scss | components/_grid.scss
// file version: 0.00.002
//

@function frame-grid-column($map, $name, $size: 1, $breakpointSizes: false)
{
    $size:   ($size * 100%);
    $column: ('name': $name, 'size': $size, 'breakpointSizes': $breakpointSizes);

    $map: map-append($map, $name, $column);
    @return $map;
}

@mixin frame-grid($type, $columns: default)
{
    @if ($columns == default)
    {
        $columns: $frame-grid-columns;
    }

    @if ($type == block)
    {
        $columns: _frame-prepare-blockgrid($columns);
        @include  _frame-display-blockgrid($columns);
    }
    @elseif ($type == flex)
    {

    }
    @elseif ($type == table)
    {

    }
    @else
    {
        @warn "frame-grid: Unable to create, unknown grid type '#{$type}'!";
    }
}

@function _frame-prepare-blockgrid($columnSettings)
{
    $returnColumns:     ();
    $returnBreakpoints: map-keys($frame-breakpoints);
    $hasBreakpoints:    false;

    @each $name, $settings in $columnSettings
    {
        $width:       100%;
        $breakpoints: all;
        $altWidths:   ();

        @if (type-of($settings) == 'list')
        {
            $width:       nth($settings, 1);
            $breakpoints: nth($settings, 2);
            $altWidths:   nth($settings, 3);

            $hasBreakpoints: true;
        }
        @else
        {
            $width: $settings;
        }

        // make sure $width is a percentage value
        @if ($width <= 1)
        {
            $width: ($width * 100%);
        }

        $returnColumns: map-append($returnColumns, $name,
        (
            name:  $name,
            width: $width
        ));
    }

    @return
    (
        columns:        $returnColumns,
        breakpoints:    $returnBreakpoints,
        hasBreakpoints: $hasBreakpoints
    );
}

@mixin _frame-display-blockgrid($gridSettings)
{
    %frame-blockgrid-cell
    {
        display: block;
        float: left;
    }

    &.gr,
    & .gr
    {
        display: block;
        @include apply-clearfix();

        $columns:     map-get($gridSettings, columns);
        $breakpoints: map-get($gridSettings, breakpoints);

        @each $name, $column in $columns
        {
            > .gc-#{$name}
            {
                @extend %frame-blockgrid-cell;
                width: map-get($column, width);
            }
        }

        @each $breakpoint in $breakpoints
        {
            @include add-breakpoint($breakpoint, max)
            {
                @each $name, $column in $columns
                {
                    > .gc-#{$breakpoint}-#{$name}
                    {
                        width: map-get($column, width);
                    }
                }
            }
        }
    }
}

