////
/// frame-scss | source/components/_helpers.scss
/// file version: 1.00.008
////

///
/// Use this mixins on elements wich have floating children.
///
/// *Clearfix helper taken from http://nicolasgallagher.com/micro-clearfix-hack/
///
@mixin apply-clearfix()
{
    @extend %frame-clearfix;
}

///
/// @param {string} $float [left] - Float value for the float-list.
///
@mixin apply-float-list($float: 'left')
{
    @extend %frame-float-list;

    @if is-string($float)
    {
        li
        {
            float: unquote($float);
        }
    }
}

///
/// @param {bool} $resetFontSize [true] - Apply a font-size reset to 1rem.
///
@mixin apply-valign-middle($resetFontSize: true)
{
    display:        inline-block;
    vertical-align: middle;

    @if $resetFontSize
    {
        font-size: 1rem;
    }
}
