//
// frame-scss | components/_helpers.scss
// file version: 1.00.005
//

//------------------------------------------------------------------------------
// Use this mixins on elements wich have floating children.
//
// *Clearfix helper taken from http://nicolasgallagher.com/micro-clearfix-hack/
//
@mixin apply-clearfix
{
    @extend %frame-clearfix;
}

//------------------------------------------------------------------------------
//
@mixin apply-menu-list($float: left)
{
    @extend %frame-menu-list;

    @if ($float != false)
    {
        li
        {
            float: $float;
        }
    }
}

//------------------------------------------------------------------------------
//
@mixin apply-valign-middle($fontSizeFix: true)
{
    display:        inline-block;
    vertical-align: middle;

    @if $fontSizeFix
    {
        font-size: 1rem;
    }
}
