////
/// concrete | tests/breakpoints.scss
/// file version: 0.00.004
////

@import '../concrete';

////////////////////////////////////////////////////////////////////////////////

body
{
    @include add-breakpoint('xl', 'min')
    {
        background-color: red;
    }

    @include add-breakpoint('lg')
    {
        background-color: blue;
    }

    @include add-breakpoint('sm', 'max')
    {
        background-color: green;
    }

    @include add-breakpoint('xl' 'lg' 'md')
    {
        color: purple;
    }

    @include add-breakpoint(300px, 'min')
    {
        color: red;
    }

    @include add-breakpoint(('min': 350px, 'max': 450px))
    {
        color: black;
    }
}

@include display-debug();
