////
/// frame-scss | tests/sort.scss
/// file version: 0.00.001
////

@import '../frame';

////////////////////////////////////////////////////////////////////////////////

$numbers: (1 3 9 8 9 0 5 4 2 5 6 7 1 -1);
$strings: (a y h b k w q n x c u a z e r s l o m n);

$map-keys:
(
    2: 'one',
    1: 'two',
    4: 'three',
    3: 'four',
    5: 'five',
    0: 'six',
    8: 'seven',
    7: 'eight',
    9: 'nine',
    6: 'ten'
);

$map-values:
(
    'one':    2,
    'two':    1,
    'three':  4,
    'four':   3,
    'five':   5,
    'six':    0,
    'seven':  8,
    'eight':  7,
    'nine':   9,
    'ten':    6,
    'eleven': 5
);

@include debug('sort numbers', sort($numbers, 'numeric'));
@include debug('sort numbers reversed', sort($numbers, 'numeric', true));

//@include debug('sort strings', sort($strings));

@include debug('sort map values', map-sort($map-values, 'numeric'));
@include debug('sort map values', map-sort($map-values, 'numeric', true));

@include debug('sort map keys', map-ksort($map-keys, 'numeric'));
@include debug('sort map keys', map-ksort($map-keys, 'numeric', true));

@include frame-display-debug();
