////
/// concrete | tests/warnings.scss
/// file version: 0.00.001
////

@import '../concrete';

////////////////////////////////////////////////////////////////////////////////

$x:warn('function-name', 'First warning.');
$x:warn('function-name', 'Second warning!');
$x:warn('function-name', 'This is your last warning!');

$x:color('unknown-color');

@include display-warnings();
@include display-warnings();
