////
/// frame-scss | tests/warnings.scss
/// file version: 0.00.001
////

@import '../frame';

////////////////////////////////////////////////////////////////////////////////

$x:warn('function-name', 'First warning.');
$x:warn('function-name', 'Second warning!');
$x:warn('function-name', 'This is your last warning!');

$x:frame-color('unknown-color');

@include frame-display-warnings();
@include frame-display-warnings();
