////
/// concrete | test/core/log_tests.scss
///
/// @group tests
////

@import '../helpers/init';

@include set-test-file('core/_warn');

// // // // // // // // // // // // // // // // // // // // // // // // // // //

@include test-function('warn')
{
    @include test('Should add a message to the global list [1]')
    {
        $_concrete-warnings: () !global;
        $x:warn('func', 'msg');

        $expected: list-create('func: msg', 'comma');

        @include assert-equal($_concrete-warnings, $expected);
    }

    @include test('Should add a message to the global list [2]')
    {
        $_concrete-warnings: () !global;
        $x:warn('test msg', '');

        $expected: list-create('test msg', 'comma');

        @include assert-equal($_concrete-warnings, $expected);
    }

    @include test('Should add a message to the global list [3]')
    {
        $_concrete-warnings: () !global;
        $x:warn('func', 'long' 'msg');

        $expected: list-create('func: long msg', 'comma');

        @include assert-equal($_concrete-warnings, $expected);
    }
}


@include test-mixin('warn')
{
    @include test('Should add a message to the global list [1]')
    {
        $_concrete-warnings: () !global;
        @include warn('func', 'msg');

        $expected: list-create('func: msg', 'comma');

        @include assert-equal($_concrete-warnings, $expected);
    }

    @include test('Should add a message to the global list [2]')
    {
        $_concrete-warnings: () !global;
        @include warn('test msg');

        $expected: list-create('test msg', 'comma');

        @include assert-equal($_concrete-warnings, $expected);
    }
}
