///
/// @access private
/// @group private
///
/// @param {map} $map
/// @param {bool|string} $indentLevel [false]
/// @return {string}
///
@function _concrete-debug-map($map, $inspect: true, $indentLevel: false)
{
    $display: '';
    $indent:  '   ';

    $mapLength: length($map);
    @if ($mapLength > 0)
    {
        @if ($inspect == true)
        {
            $display: '';

            @if ($indentLevel == false)
            {
                $indentLevel: $indent;
            }

            @each $key, $value in $map
            {
                $value: _concrete-debug-parse('`' + $key + '`',
                                              $value,
                                              $indentLevel + $indent);

                $display: $display + $value;
            }

            $tagOpen:  $indentLevel + '{';
            $tagClose: $indentLevel + '}';
            $display:  newline() + $tagOpen + $display + newline() + $tagClose;
        }
        @else
        {
            $display: ' {...}';
        }
    }
    @else
    {
        $display: ' { }';
    }

    @return '(map|' + $mapLength + ')' + $display;
}
