@function _concrete-debug-parse($key, $value, $indent)
{
    @if is-scalar($value)
    {
        $value: _concrete-debug-scalar($value);
    }
    @elseif is-list($value)
    {
        $value: _concrete-debug-list($value, true, $indent);
    }
    @elseif is-map($value)
    {
        $value: _concrete-debug-map($value, true, $indent);
    }
    @else
    {
        $value: '{unknown} [' + type-of($value) + '] ' + $value;
    }

    $value: '[' + $key + '] => ' + $value;
    $value: newline() + $indent + $value;

    @return unquote($value);
}
