///
/// Adds the variable `$var` to the list `$_concrete-debugs` and will be
/// displayed by the `display-debug()` mixin.
///
/// @param {mixed} $var
/// @return {null}
///
@function debug($var...)
{
    @if (length($var) == 1)
    {
        $var: nth-first($var);
    }

    @return storage-add('debug-dumps', null, $var);
}

///
/// Displays all given variables and their types.
///
/// @param {mixed} $var
///
@mixin debug($var...)
{
    @if (length($var) == 1)
    {
        $var: nth-first($var);
    }

    $prefix: '@debug';
    $dump:   dump($var);

    @if $concrete-console-debugs
    {
        @debug($dump);
    }

/*

@debug #{$dump}

*/
}
