@mixin display-debug()
{
    $debugs: storage-get('debug-dumps');

    @if is-list($debugs, 1)
    {
        $dump: newline(2);

        @each $debug in $debugs
        {
            $debug: var-dump($debug);
            $dump:  $dump + '@debug #{$debug}' + newline(2);

            @if $concrete-console-debugs
            {
                @debug($debug);
            }
        }
/*#{$dump}*/
    }
    @else
    {
/* NO DEBUG DATA TO DISPLAY */
    }
}
