@function dump($vars...)
{
    @if (length($vars) == 1)
    {
        $vars: nth($vars, 1);
    }

    $result: if(is-list($vars) or is-map($vars),
                _dump--items($vars, true),
                _dump--scalar($vars));

    @return $result;
}

@mixin dump($vars...)
{
    @if (length($vars) == 1)
    {
        $vars: nth($vars, 1);
    }

    $result: if(is-list($vars) or is-map($vars),
                _dump--items($vars, true),
                _dump--scalar($vars));

/*

@dump #{$result}

*/
}
