////
/// concrete | source/partials/_grid.scss
////

%concrete-blockgrid-row
{
    @include apply-clearfix();

    display: block;
    overflow: hidden;
}

%concrete-blockgrid-column
{
    display: block;
    position: relative;
    float: left;

    &.grid-stretch
    {
        margin-bottom: -100%;
        padding-bottom: 100%;
    }
}
