@import 'frame';
@import 'frame/default';
@import 'frame/grid';

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

html, body
{
	height: 100%;
	font-weight: 300;
	color: frame-color();
	letter-spacing: em(2px);
}

