@import '../../test';

// -----------------------------------------------------------------------------

@include test-function('quote-all')
{
    @include test('Should apply quotes to the string')
    {
        @include assert
        {
            @include output
            {
                content: quote-all('str');
            }

            @include expect
            {
                content: "str";
            }
        }
    }

    @include test('Should apply quotes to the strings in the list')
    {
        @include assert
        {
            $input: ( str1, 'str2', "str3"  );

            @include output
            {
                content: quote-all($input);
            }

            @include expect
            {
                content: "str1", "str2", "str3";
            }
        }
    }
}
