////
/// concrete | src/components/helpers/_clearfix.scss
///
/// @group helpers
////

// *Clearfix helper taken from http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix($extend: true)
{
    @include dynamic-placeholder('clearfix', $extend)
    {
        &::before,
        &::after
        {
            content: ' ';
            display: table;
        }

        &::after
        {
            clear: both;
        }
    }
}
