////
/// concrete | src/components/helpers/_clearfix.scss
///
/// @group helpers
////

///
/// Adds a clearfix based on Nicolas Gallagher's micro clearfix hack
/// (http://nicolasgallagher.com/micro-clearfix-hack/).
///
@mixin clearfix($extend: true)
{
    @include dynamic-placeholder('clearfix', $extend)
    {
        &::before,
        &::after
        {
            content: ' ';
            display: table;
        }

        &::after
        {
            clear: both;
        }
    }
}
