////
/// concrete | src/components/helpers/_container.scss
///
/// @group helpers
////

@mixin container($extend: true)
{
    @include dynamic-placeholder('container', $extend)
    {
        display: block;
        height: 100%;
        margin: 0 auto;
    }
}

@mixin container-fluid($extend: true)
{
    @include dynamic-placeholder('container-fluid', $extend)
    {
        display: block;
        width: 100%;
    }
}
