////
/// concrete | src/components/helpers/_sticky.scss
///
/// @group helpers
////

@mixin sticky-top($extend: true)
{
    @include dynamic-placeholder('sticky-top', $extend)
    {
        position: fixed;
        top: 0;
        bottom: auto;
    }
}

@mixin sticky-bottom($extend: true)
{
    @include dynamic-placeholder('sticky-bottom', $extend)
    {
        position: fixed;
        top: auto;
        bottom: 0;
    }
}
