////
/// concrete | examples/block-and-float-lists.scss
////

@import '../../starter/main';

// -----------------------------------------------------------------------------

ul
{
    background-color: #fff;

    li
    {
        padding: 5px;
        background-color: yellow;
    }
}

nav
{
    @include clearfix;

    .float-list
    {
        float: right;

        li
        {
            margin: 0 5px;
        }
    }
}

.container
{
    margin-top: 20px;

    .block-list
    {
        width: 100%;
        max-width: 50%;
        border: 1px solid red;

        li
        {
            border: 1px solid red;
        }
    }
}
