////
/// concrete | examples/grid_block.scss
////

@import '../../starter/main';

//------------------------------------------------------------------------------

body       { background-color: gray; }
.container { background-color: #fff; }
.bg-red    { background-color: red; }
.bg-blue   { background-color: blue; }
.bg-green  { background-color: green; }
.bg-yellow { background-color: yellow; }
.bg-orange { background-color: orange; }
.bg-purple { background-color: purple; }
