////
/// frame-scss | examples/grid_block.scss
/// file version: 0.00.002
////

@import '../../frame';
@import '../../frame-grid';

////////////////////////////////////////////////////////////////////////////////

body       { background-color: grey; }
.container { background-color: #fff; }
.bg-red    { background-color: red; }
.bg-blue   { background-color: blue; }
.bg-green  { background-color: green; }
.bg-yellow { background-color: yellow; }
.bg-orange { background-color: orange; }
.bg-purple { background-color: purple; }
