////
/// concrete | src/components/shapes/_triangle.scss
///
/// @group shapes
////

///
/// *Created using example from http://css-tricks.com/examples/ShapesOfCSS/
///
/// @param {string} $direction - The direction of the triangle point. Valid
///         values are `up`/`u`, `down`/`d`, `left`/`l`, `right`/`r`,
///         `top-left`/`tl`, `top-right`/`tr`, `bottom-left`/`bl` or
///         `bottom-right`/`br`.
/// @param {color} $color - The color of the triangle.
/// @param {number} $size - The size of the triangle.
/// @param {number} $size2 [false]
///
@mixin triangle($direction, $color, $size, $size2: false)
{
    @if is-string($color)
    {
        $color: color($color);
    }
    @elseif ($size2 == false)
    {
        $size2: $size;
    }

    width: 0;
    height: 0;

    @if one-of($direction, 'up' 'u')
    {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size2 solid $color;
    }
    @elseif one-of($direction, 'down' 'd')
    {
        border-top: $size2 solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    }
    @elseif one-of($direction, 'left' 'l')
    {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size2 solid $color;
    }
    @elseif one-of($direction, 'right' 'r')
    {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size2 solid $color;
    }
    @elseif one-of($direction, 'top-left' 'tl')
    {
        border-top: $size2 solid $color;
        border-right: $size solid transparent;
    }
    @elseif one-of($direction, 'top-right' 'tr')
    {
        border-top: $size2 solid $color;
        border-left: $size solid transparent;
    }
    @elseif one-of($direction, 'bottom-left' 'bl')
    {
        border-bottom: $size2 solid $color;
        border-right: $size solid transparent;
    }
    @elseif one-of($direction, 'bottom-right' 'br')
    {
        border-bottom: $size2 solid $color;
        border-left: $size solid transparent;
    }
    @else
    {
        @include warn('triangle',
            'Cannot create triangle, unknown direction `#{$direction}`.');
    }
}
