/* line 7, stdin */
html,
body {
  height: 100%; }

/* line 12, stdin */
header {
  width: 100%;
  height: 100px;
  background-color: red; }

/* line 19, stdin */
.center-example {
  height: 200px;
  margin-top: 20px; }
  /* line 24, stdin */
  .center-example
.center-x {
    background-color: yellow; }
