@import '../../test';

// -----------------------------------------------------------------------------

@include test-function('change-separator')
{
    @include test('Should change the separator [1]')
    {
        $actual:   (1 2 3);
        $expected: (1, 2, 3);

        @include assert-equal(change-separator($actual, 'comma'), $expected);
    }

    @include test('Should change the separator [2]')
    {
        $actual:   (1, 2, 3);
        $expected: (1 2 3);

        @include assert-equal(change-separator($actual, 'space'), $expected);
    }

    @include test('Should keep the current separator [1]')
    {
        $input: (1 2 3);
        @include assert-equal(change-separator($input, 'space'), $input);
    }

    @include test('Should keep the current separator [2]')
    {
        $input: (1, 2, 3);
        @include assert-equal(change-separator($input, 'comma'), $input);
    }

    @include test('Should return the same list')
    {
        $input: (1, 2, 3);
        @include assert-equal(change-separator($input, 'auto'), $input);
    }
}
