@import '../../test';

// -----------------------------------------------------------------------------

@include test-function('prepend')
{
    @include test('Should prepend the value to the list')
    {
        $input:    ('first' 'second' 'last');
        $actual:   prepend($input, 'prepend');
        $expected: ('prepend' 'first' 'second' 'last');

        @include assert-equal($actual, $expected);
    }

    @include test('Should prepend the value to the comma seperated list')
    {
        $input:    ('first' 'second' 'last');
        $actual:   prepend($input, 'prepend', 'comma');
        $expected: ('prepend', 'first', 'second', 'last');

        @include assert-equal($actual, $expected);
    }

    @include test('Should prepend the value to the empty list')
    {
        $actual:   prepend((), 'prepend');
        $expected: join(('prepend'), ());

        @include assert-equal($actual, $expected);
    }
}
