// example taken from
// http://alistapart.com/article/dry-ing-out-your-sass-mixins
@mixin dynamic-placeholder($name, $extend: true)
{
    @if is-true($extend)
    {
        $placeholderId: null;

        @if storage-has('placeholder', $name)
        {
            $placeholderId: storage-get('placeholder', $name);
        }
        // create a real placeholder for the placeholder mixin's content so it
        // can be shared and re-used by different components
        @else
        {
            $placeholderId: storage-add('placeholder', $name, unique-id());

            // create the placeholder at root level
            @at-root %#{$placeholderId}
            {
                @content;

                @if is-true($concrete-debug-dynamic-placeholders)
                {
                    -debug: '#{$name} | #{$placeholderId}';
                }
            }
        }

        // let the component extend the real placeholder
        @extend %#{$placeholderId};
    }
    // when not extending a placeholder, echo the placeholder mixin's content
    @else
    {
        @content;
    }
}
