////
/// concrete | src/components/_center.scss
///
/// @group center
////

///
/// Add styles to center content both horizontal as vertical.
///
@mixin center($selectorMiddle: true, $restoreFontSize: true, $extend: true)
{
    @include dynamic-placeholder('center', $extend)
    {
        // width: 100%;
        height: 100%;
        white-space: nowrap;
        font-size: 0;
        text-align: center;
    }

    &::before
    {
        @include center-placeholder-push($extend);
    }

    @include dynamic-selector($selectorMiddle, '&__middle')
    {
        @include center-placeholder-middle($restoreFontSize, $extend);
    }
}

///
/// Add styles to only vertically center content.
///
@mixin center-vertical($selectorMiddle: true, $restoreFontSize: true, $extend: true)
{
    @include dynamic-placeholder('center-verticle', $extend)
    {
        height: 100%;
        white-space: nowrap;
        font-size: 0;
    }

    &::before
    {
        @include center-placeholder-push($extend);
    }

    @include dynamic-selector($selectorMiddle, '&__middle')
    {
        @include center-placeholder-vertical-middle($restoreFontSize, $extend);
    }
}

// -----------------------------------------------------------------------------
// Dynamic placeholders
// -----------------------------------------------------------------------------

@mixin center-placeholder-push($extend: true)
{
    @include dynamic-placeholder('center-push', $extend)
    {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
}

@mixin center-placeholder-middle($restoreFontSize: true, $extend: true)
{
    @include dynamic-placeholder('center-middle', $extend)
    {
        display: inline-block;
        vertical-align: middle;
        // height: auto;
        white-space: normal;
    }

    @if $restoreFontSize
    {
        font-size: 1rem;
    }
}

@mixin center-placeholder-vertical-middle($restoreFontSize: true, $extend: true)
{
    @include dynamic-placeholder('center-vertical-middle', $extend)
    {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }

    @if $restoreFontSize
    {
        font-size: 1rem;
    }
}
