////
/// concrete | src/components/_effects.scss
///
/// Some easy to use and pretty cool effects!
///
/// @group effects
////

///
/// Creates a text-shadow effect
///
/// @param {color} $color - Color of the text shadow effect.
/// @param {number} $size - Size of the text shadow effect.
///
@mixin fx-text-shadow($color, $size)
{
    $shadows: ();
    @for $i from 1px through $size
    {
        $shadows: append($shadows, ($i $i $color), 'comma');
    }

    text-shadow: $shadows;
}
