////
/// concrete | source/components/_helpers.scss
///
/// @group helpers
////

///
/// @param {string} $float [left] - Float value for the float-list.
///
@mixin apply-float-list($float: 'left')
{
    @if ($float == 'left')
    {
        @extend %concrete-float-list-left;
    }
    @elseif ($float == 'right')
    {
        @extend %concrete-float-list-right;
    }
    @else
    {
        @extend %concrete-float-list;

        @if is-string($float)
        {
            li
            {
                float: unquote($float);
            }
        }
    }
}

// -----------------------------------------------------------------------------
// Helper placeholders
// -----------------------------------------------------------------------------
%concrete-clearboth //.clear
{
    clear: both;
}

// *Clearfix helper taken from http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix($extend: true)
{
    @include dynamic-placeholder('clearfix', $extend)
    {
        &::before,
        &::after
        {
            content: ' ';
            display: table;
        }

        &::after
        {
            clear: both;
        }
    }
}

%concrete-hidden //.hidden
{
    display: none;
    visibility: hidden;
}

%concrete-visible //.visible
{
    display: block;
    visibility: visible;
}

%concrete-nowrap //.nowrap
{
    white-space: nowrap;
}

// -----------------------------------------------------------------------------
// Wrapper/container and position placeholders
// -----------------------------------------------------------------------------
%concrete-container //.container
{
    display: block;
    height: 100%;
    margin: 0 auto;
}

%concrete-container-fluid
{
    display: block;
    width: 100%;
}

%concrete-sticky-top
{
    position: fixed;
    top: 0;
    bottom: auto;
}

%concrete-sticky-bottom
{
    position: fixed;
    top: auto;
    bottom: 0;
}

// -----------------------------------------------------------------------------
// Lists and menu placeholders
// -----------------------------------------------------------------------------
%concrete-float-list
{
    @include reset-list-placeholder;
    @include clearfix;

    li > a
    {
        display: block;
    }
}

%concrete-float-list-left
{
    @extend %concrete-float-list;

    li
    {
        float: left;
    }
}

%concrete-float-list-right
{
    @extend %concrete-float-list;

    li
    {
        float: right;
    }
}

%concrete-block-list
{
    @include reset-list-placeholder;

    li
    {
        display: block;
        width: 100%;
    }
}
