////
/// concrete | src/components/_ratio.scss
///
/// @group ratio
////

// example taken from
// http://alistapart.com/article/creating-intrinsic-ratios-for-video
@mixin ratio($width, $height, $selectorBody: true)
{
    height: 0;
    padding-bottom: (($height / $width) * 100%);

    @if $selectorBody
    {
        position: relative;

        @include dynamic-selector($selectorBody, '&__body')
        {
            @include ratio-placeholder-body;
        }
    }
}

// -----------------------------------------------------------------------------
// Dynamic placeholders
// -----------------------------------------------------------------------------

@mixin ratio-placeholder-body($extend: true)
{
    @include dynamic-placeholder('ratio-body', $extend)
    {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
