////
/// concrete | source/components/_shape-hexagon.scss
///
/// @group shapes
////

///
/// *Created using example from http://jsfiddle.net/tzi/awt33/
///
/// @param {number} $size
///
@mixin hexagon($size)
{
    @include hexagon-placeholder;

    width: $size;
    height: $size * 0.57735;
}

@mixin hexagon-placeholder($extend: true)
{
    @include extend-placeholder('hexagon', $extend)
    {
        position: relative;
        display: inline-block;
        vertical-align: middle;

        &::before,
        &::after
        {
            content: '';
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: inherit;
        }

        &::before
        {
            transform: rotateZ(60deg);
        }

        &::after
        {
            transform: rotateZ(120deg);
        }
    }
}
