////
/// concrete | source/partials/_defaults.scss
////

// scss-lint:disable all
/*! concrete v0.4.4 | GNU GPL v2.0 License | github.com/roeldev/concrete */
// scss-lint:enable all

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

html,
body
{
    width: 100%;
    min-height: 100%;
}

// -----------------------------------------------------------------------------
// Use box-sizing: border-box on all element.
// -----------------------------------------------------------------------------
*,
*:before,
*:after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

// -----------------------------------------------------------------------------
// Default button and hyperlink styles
// -----------------------------------------------------------------------------
a,
button
{
    cursor: pointer;

    &:active,
    &:hover
    {
        outline: 0;
    }
}

a
{
    text-decoration: none;
}

// -----------------------------------------------------------------------------
// Paragraphs and text elements
// -----------------------------------------------------------------------------
p
{
    padding-bottom: get-line-height('default');

    &:last-child
    {
        padding-bottom: 0;
    }
}

p,
address,
figcaption
{
    line-height: get-line-height('default');
}

address
{
    font-style: normal;
}

// -----------------------------------------------------------------------------
// Default styles for other elements
// -----------------------------------------------------------------------------
input,
select,
option,
textarea,
button
{
    font-family: get-font-family('default');

    &:focus
    {
        outline: none;
    }
}

// -----------------------------------------------------------------------------

img
{
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

// -----------------------------------------------------------------------------

ul,
ol
{
    padding-left: 20px;
}
