////
/// concrete | source/_import.scss
////

///
/// Checks if the specified file is already registered as imported.
///
/// @param {string} $file
/// @return {boolean}
///
@function is-imported($file)
{
    $index: index($_concrete-imported, $file);
    @return not is-null($index);
}

///
/// Registers a file as imported.
///
/// @param {string} $file
///
@mixin register-imported($file)
{
    $_concrete-imported: append($_concrete-imported, $file) !global;
}

// -----------------------------------------------------------------------------
// Global variables and settings
// -----------------------------------------------------------------------------
@if not global-variable-exists('_concrete-imported')
{
    $_concrete-imported: () !global;
}

@if not global-variable-exists('concrete-import-normalize')
{
    $concrete-import-normalize: true !global;
}

@if not global-variable-exists('concrete-import-defaults')
{
    $concrete-import-defaults: true !global;
}
