////
/// concrete | src/core/_log.scss
///
/// Logging related functions and mixins.
///
/// @group core
////

///
/// Adds a warning to the `$_concrete-warnings` list and, if available, outputs
/// the warning with the `@warn` directive.
/// If the 2nd optional parameter is not used, the first parameter should
/// contain the actual warning message.
///
/// @param {string} $function - The function that created the warning.
/// @param {string} $message [''] - The warning text message.
/// @return {null}
///
@function warn($function, $message: '')
{
    $message: _concrete-warn($function, $message);
    @return null;
}

///
/// Adds a warning to the `$_concrete-warnings` list and, if available, outputs
/// the warning with the `@warn` directive.
/// If the 2nd optional parameter is not used, the first parameter should
/// contain the actual warning message.
///
/// @param {string} $function - The function that created the warning.
/// @param {string} $message [''] - The warning text message.
///
@mixin warn($function, $message: '')
{
    $message: _concrete-warn($function, $message);
}

///
/// Displays the warnings added to the `$_concrete-warnings` list.
///
@mixin display-warnings()
{
    $prefix: '@warn';
    @if is-list($_concrete-warnings, 1)
    {

/******************************************************************************/
/* display-warnings(): */

        @each $message in $_concrete-warnings
        {
            /* #{$prefix} #{$message} */
        }

        $_concrete-warnings: () !global;
    }
}

// -----------------------------------------------------------------------------
// Private functions
// -----------------------------------------------------------------------------

///
/// @access private
/// @group private
///
/// @param {string} $function
/// @param {string} $message
/// @return {string}
///
@function _concrete-warn($function, $message)
{
    $message: if(is-empty($message), $function, $function +': '+ $message);
    $_concrete-warnings: append($_concrete-warnings, $message, 'comma') !global;

    @if $concrete-console-warnings
    {
        @warn($message);
    }

    @return $message;
}

// -----------------------------------------------------------------------------
// Global variables and settings
// -----------------------------------------------------------------------------
@if not global-variable-exists('_concrete-warnings')
{
    $_concrete-warnings: () !global;
}
