////
/// concrete | source/core/_extend.scss
///
/// Dynamic placeholders
///
/// @group Core
////

// example taken from
// http://alistapart.com/article/dry-ing-out-your-sass-mixins
@mixin dynamic-placeholder($name, $extend: true)
{
    @if $extend
    {
        $placeholder-id: placeholder-id($name);

        // create a real placeholder for the placeholder mixin's content so it
        // can be shared and re-used by different components
        @if not map-has-key($_concrete-placeholders, $name)
        {
            $placeholder-id: unique-id();
            $_concrete-placeholders: map-append($_concrete-placeholders,
                                                $name,
                                                $placeholder-id) !global;

            // create the placeholder at root level
            @at-root %#{$placeholder-id}
            {
                @content;

                @if $concrete-debug-dynamic-placeholders
                {
                    -debug: '#{$name} | #{$placeholder-id}';
                }
            }
        }

        // let the component extend the real placeholder
        @extend %#{$placeholder-id};
    }
    // when not extending a placeholder, echo the placeholder mixin's content
    @else
    {
        @content;
    }
}

// -----------------------------------------------------------------------------

@function placeholder-id($name)
{
    @return map-get($_concrete-placeholders, $name);
}

@mixin placeholder-extend($name)
{
    $placeholder-id: placeholder-id($name);

    @extend %#{$placeholder-id};
}

// -----------------------------------------------------------------------------
// Global variables and settings
// -----------------------------------------------------------------------------
@if not global-variable-exists('_concrete-placeholders')
{
    $_concrete-placeholders: () !global;
}

@if not global-variable-exists('concrete-debug-dynamic-placeholders')
{
    $concrete-debug-dynamic-placeholders: false !global;
}
