@function storage-has($id, $keys...)
{
    $result: false;

    @if map-has-key($_concrete-storage, $id)
    {
        $result: true;
        $target: map-get($_concrete-storage, $id);

        @each $key in $keys
        {
            @if is-map($target) and map-has-key($target, $key)
            {
                $target: map-get($target, $key);
            }
            @else
            {
                // break out of the loop
                @return false;
            }
        }
    }

    @return $result;
}
