@function storage-get($type, $keys...)
{
    $result: null;

    @if map-has-key($_concrete-storage, $type)
    {
        // make sure that arglists are handled correct
        $firstKey: nth-first($keys);
        @if is-list($firstKey)
        {
            $keys: $firstKey;
        }

        $target: map-get($_concrete-storage, $type);

        @each $key in $keys
        {
            @if map-has-key($target, $key)
            {
                $target: map-get($target, $key);
            }
            @else
            {
                // break out of the loop
                @return null;
            }
        }

        $result: $target;
    }

    @return $result;
}
