////
/// concrete | test/helpers/_type-test.scss
///
/// @group test-helpers
////

$_concrete-test-current-type-function: null !global;

$TYPE_LIST:    (1 2 3) !global;
$TYPE_ARGLIST: _create-arglist(4 5 6) !global;
$TYPE_MAP:     ('one': 1, 'two': 2, 'three': 3) !global;

// // // // // // // // // // // // // // // // // // // // // // // // // // //

@mixin type-test($func)
{
    $_concrete-test-current-type-function: $func !global;

    @include test-module($_concrete-test-file + ': ' + $func + ' [function]')
    {
        @content;
    }
}

@mixin type-test-assert-true($values...)
{
    $iL: length($values);
    @for $i from 1 through $iL
    {
        $value:     nth($values, $i);
        $testTitle: 'Should return true with value `' +
                    if(is-null($value), 'null', $value) + '`';

        // @if ($iL > 1)
        // {
        //     $testTitle: $testTitle +' ['+ $i +']';
        // }

        @include test($testTitle)
        {
            $result: call($_concrete-test-current-type-function, $value);
            @include assert-true($result);
        }
    }
}

@mixin type-test-assert-false($values...)
{
    @each $value in $values
    {
        $type: type-of($value);

        @include test('Should return false when using a ' + $type)
        {
            $result: call($_concrete-test-current-type-function, $value);
            @include assert-false($result);
        }
    }
}

@mixin type-unit-test-assert-false($values...)
{
    @each $value in $values
    {
        $unit: unit($value);
        $unit: if(($unit == ''), 'no unit', 'unit `' + $unit + '`');

        @include test('Should return false when using ' + $unit)
        {
            $result: call($_concrete-test-current-type-function, $value);
            @include assert-false($result);
        }
    }
}
