//
// frame-scss | functions/_frame.scss
// file version: 1.00.007
//
// All default frame-scss functions are within this file. Through these
// functions you can easily use the variables you have set in your main
// _frame.scss file.
//

//-----------------------------------------------------------------------------
// Returns a font-family set in the $frame-fonts setting.
//
// @param $key The corresponding key in the global $frame-fonts variable.
//
@function frame-font($key: default)
{
    @if(map-has-key($frame-fonts, $key))
    {
        $return: map-get($frame-fonts, $key);
        @return unquote($return);
    }

    @warn "Frame: Unknown font '#{$key}'!";
    @return null;
}

//-----------------------------------------------------------------------------
//
@function frame-font-size($key: default)
{
    @if(map-has-key($frame-fontSizes, $key))
    {
        @return map-get($frame-fontSizes, $key);
    }

    @warn "Frame: Unknown font-size '#{$key}'!";
    @return null;
}

//-----------------------------------------------------------------------------
//
@function frame-color($key: default)
{
    @if(map-has-key($frame-colors, $key))
    {
        @return map-get($frame-colors, $key);
    }

    @warn "Frame: Unknown color '#{$key}'!";
    @return null;
}

//-----------------------------------------------------------------------------
//
@function frame-breakpoint($type: default, $size: false)
{
    @if(map-has-key($frame-breakpoints, $type))
    {
        $breakpoint: map-get($frame-breakpoints, $type);

        @if($type == default)
        {
            @return $breakpoint;
        }
        @else if($size == false)
        {
            @return $breakpoint;
        }
        @else if(map-has-key($breakpoint, $size))
        {
            @return map-get($breakpoint, $size);
        }
    }

    @warn "Frame: Unknown breakpoint '#{$type}', '#{$size}'!";
    @return null;
}

//-----------------------------------------------------------------------------
//
@function frame-transition($name: default, $attr: false)
{
    @if(map-has-key($frame-transitions, $name))
    {
        $transition: map-get($frame-transitions, $name);

        @if($attr == false)
        {
            @return $transition;
        }
        @else if(map-has-key($transition, $attr))
        {
            @return map-get($transition, $attr);
        }
        @else
        {
            @warn "Frame: Unknown attribute '#{$attr}' for transition '#{$name}'!";
            @return null;
        }
    }

    @warn "Frame: Unknown transition set '#{$name}'!";
    @return null;
}
