//
// frame-scss | _grid.scss
// file version: 0.00.001
//
// Work in progress! May change in future versions. Use at your own risk.
//
$gridColumns:
(
    '1':    // 1/12
    (
        default:        8.3333%,
        sizes:          (s: 50%,    m: 25%),
        breakpoints:    xs s m l
    ),

    '1_5':  // 1/8 | 1.5/12
    (
        default:        12.5%,
        sizes:          (s: 50%,    m: 25%),
        breakpoints:    xs s m l
    ),

    '2':    // 1/6 | 2/12
    (
        default:        16.6666%,
        sizes:          (s: 100%,   m: 50%),
        breakpoints:    xs s m l
    ),

    '3':    // 1/4 | 3/12
    (
        default:        25%,
        sizes:          (xs: 100%,  s: 50%),
        breakpoints:    xs s m l
    ),

    '4':    // 1/3 | 4/12
    (
        default:        33.3333%,
        sizes:          (s: 100%),
        breakpoints:    xs s m l
    ),

    '6':    // 1/2 | 6/12
    (
        default:        50%,
        sizes:          (s: 100%),
        breakpoints:    xs s m l
    ),

    '8':    // 2/3 | 8/12
    (
        default:        66.6667%,
        sizes:          (s: 100%),
        breakpoints:    xs s m l
    ),

    '9':    // 3/4 | 9/12
    (
        default:        75%,
        sizes:          (s: 100%),
        breakpoints:    xs s m l
    ),

    '10':   // 5/6 | 10/12
    (
        default:        83.3334%,
        sizes:          (l: 100%),
        breakpoints:    xs s m l
    ),

    '12':   // 1 | 12/12
    (
        default:        100%,
        sizes:          (),
        breakpoints:    xs s m l
    )
);

@import 'mixins/grid';
@import 'partials/grid';
