// -----------------------------------------------------------------------------
// Basic styles and optional selectors
// -----------------------------------------------------------------------------
// For more information about the available settings, check either the included
// help documents, examples, or visit the project page: http://git.io/qoNLsw
//
@include export-once('starter/concrete/_base')
{
    html
    {
        // include the default font-style set in `_font-styles.scss`
        @include font-style('default');

        box-sizing: border-box;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    html,
    body
    {
        width: 100%;
        min-height: 100%;
    }

    // -------------------------------------------------------------------------
    // Use box-sizing: border-box on all element.
    // -------------------------------------------------------------------------
    *,
    *::before,
    *::after
    {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    // -------------------------------------------------------------------------
    // Paragraphs and text elements
    // -------------------------------------------------------------------------
    p
    {
        padding-bottom: get-line-height('default');

        &:last-child
        {
            padding-bottom: 0;
        }
    }

    p,
    address,
    figcaption
    {
        line-height: get-line-height('default');
    }

    address
    {
        font-style: normal;
    }

    // -------------------------------------------------------------------------
    // Button and hyperlinks
    // -------------------------------------------------------------------------
    a,
    button
    {
        cursor: pointer;

        &:active,
        &:hover
        {
            outline: 0;
        }
    }

    a
    {
        text-decoration: none;
    }

    button
    {
        // Reset the look of buttons by removing the background, border and
        // default appearance. Very useful if you're using custom
        // designed buttons.
        @include reset-button;
    }

    // -------------------------------------------------------------------------
    // Form elements
    // -------------------------------------------------------------------------
    input,
    select,
    option,
    textarea,
    button
    {
        font-family: get-font-family('default');

        &:focus
        {
            outline: none;
        }
    }

    // -------------------------------------------------------------------------
    // Images
    // -------------------------------------------------------------------------
    img
    {
        vertical-align: middle;
        -ms-interpolation-mode: bicubic;
    }

    // -------------------------------------------------------------------------
    // Lists
    // -------------------------------------------------------------------------
    ul,
    ol
    {
        padding-left: 20px;
    }

    // -------------------------------------------------------------------------
    // Enable/disable basic concrete helpers.
    // -------------------------------------------------------------------------
    // .clearfix   { @include clearfix; }
    // .float-list { @include float-list; }
    // .block-list { @include block-list; }
    // .center     { @include center('> .center-m'); }
    // .center-y   { @include center-vertical('> .center-m'); }
    // .container  { @include container; }
};
