// -----------------------------------------------------------------------------
// Settings
// -----------------------------------------------------------------------------
// For more information about the available settings, check either the included
// help documents, examples, or visit the project page:
// https://github.com/roeldev/concrete
//

// -----------------------------------------------------------------------------
// Warnings and debug
// -----------------------------------------------------------------------------
// Display warnings and/or debug messages in console. Warnings and debugs are
// always displayed in the compiled CSS file.
//
$concrete-console-warnings:  false;
$concrete-console-debugs:    false;
$concrete-debug-breakpoints: false;
