////
/// Debug related functions, mixins and global variables.
////

@if not global-variable-exists('_concrete-debugs')
{
    $_concrete-debugs: () !global;
}

@if not global-variable-exists('_concrete-warnings')
{
    $_concrete-warnings: () !global;
}

@if not global-variable-exists('concrete-console-debugs')
{
    $concrete-console-debugs: false !global;
}

@if not global-variable-exists('concrete-console-warnings')
{
    $concrete-console-warnings: false !global;
}

// -----------------------------------------------------------------------------

@import 'debug/debug';
@import 'debug/display-debug';
@import 'debug/display-warnings';
@import 'debug/dump--item';
@import 'debug/dump--items';
@import 'debug/dump--scalar';
@import 'debug/dump';
@import 'debug/simple-dump';
@import 'debug/warn.scss';
