////
/// frame-scss | source/_init.scss
/// file version: 1.01.009
///
/// This file imports all required functions and mixins wich you can use while
/// developing your project.
////
@import 'core';
@import 'components/basics';
@import 'components/breakpoints';
@import 'components/effects';
@import 'components/helpers';
@import 'components/shapes';
@import 'components/transition';

//------------------------------------------------------------------------------

// 'private' framework variables
$_frame-debugs:      ();
$_frame-warnings:    ();
$_frame-breakpoints: ();

// settings that are prepared so they are more easily to use by the framework
$frame-breakpoints:                 _frame-init-breakpoints();
$frame-breakpoint-scrollbar-buffer: _frame-init-breakpoint-settings($frame-breakpoint-scrollbar-buffer, 0);
$frame-container-width:             _frame-init-breakpoint-settings($frame-container-width, 100%);
$frame-grid-gap:                    _frame-init-breakpoint-settings($frame-grid-gap, 0);

/*
    frame-scss - Sassy CSS framework (https://github.com/roeldev/frame-scss/)
    Copyright (c) 2014-2015 Roel Schut (roelschut.nl)

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
