///
/// Join the values from the list to a string.
///
/// @param {list} $list
/// @param {string} $glue
/// @return {string}
///
@function implode($list, $glue: '')
{
    $result: '';

    @if is-list($list)
    {
        $glue: inspect($glue);
        $iL:   length($list);

        @for $i from 1 through $iL
        {
            $value:  nth($list, $i);
            $result: $result + inspect($value);

            @if ($i < $iL)
            {
                $result: $result + $glue;
            }
        }
    }

    @return $result;
}
