@function implode($list, $glue: '')
{
    $result: '';
    $iL: length($list);

    @for $i from 1 through $iL
    {
        $value: nth($list, $i);
        $result: $result + $value;

        @if ($i < $iL)
        {
            $result: $result + $glue;
        }
    }

    @return $result;
}
