//
// frame-scss | mixins/_breakpoints.scss
// file version: 1.00.003
//

//-----------------------------------------------------------------------------
//
@mixin add-breakpoint($breakpoint, $type: both)
{
    $baseBreakpoint: frame-breakpoint($breakpoint);

    $min: map-get($baseBreakpoint, min);
    $max: map-get($baseBreakpoint, max);

    $hasMin: ($min != null);
    $hasMax: ($max != null);

    @if ($type == max)
    {
        $hasMin: false;
    }
    @elseif ($type == min)
    {
        $hasMax: false;
    }

    @if ($hasMin and $hasMax)
    {
        @media screen and (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    }
    @elseif $hasMin
    {
        @media screen and (min-width: $min)
        {
            @content;
        }
    }
    @elseif $hasMax
    {
        @media screen and (max-width: $max)
        {
            @content;
        }
    }
    @else
    {
        @warn "Frame: Unknown breakpoint '#{$breakpoint}' to respond to!";
    }
}
