//
// frame-scss | mixins/_breakpoints.scss
// file version: 1.01.000
////////////////////////////////////////////////////////////////////////////////
//
// Breakpoint and media query related mixins.
//

//------------------------------------------------------------------------------
//
@mixin add-custom-breakpoint($min, $max)
{
    $hasMin: ($min != null and $min != false);
    $hasMax: ($max != null and $max != false);

    @if ($hasMin and $hasMax)
    {
        @media screen and (min-width: $min) and (max-width: $max)
        {
            @content;
        }
    }
    @elseif $hasMin
    {
        @media screen and (min-width: $min)
        {
            @content;
        }
    }
    @elseif $hasMax
    {
        @media screen and (max-width: $max)
        {
            @content;
        }
    }
}

//------------------------------------------------------------------------------
//
@mixin add-breakpoint($breakpoint, $type: both)
{
    $baseBreakpoint: frame-breakpoint($breakpoint);

    $min: map-get($baseBreakpoint, min);
    $max: map-get($baseBreakpoint, max);

    @if ($type == max)
    {
        $min: false;
    }
    @elseif ($type == min)
    {
        $max: false;
    }

    @if ($min != null and $min != false) or ($max != null and $max != false)
    {
        @include add-custom-breakpoint($min, $max)
        {
            @content;
        }
    }
    @else
    {
        @warn "Frame: Unknown breakpoint '#{$breakpoint}' to respond to!";
    }
}
