//
// frame-scss | mixins/_helpers.scss
// file version: 1.00.005
//

//------------------------------------------------------------------------------
// Use this mixins on elements wich have floating children.
//
// *Clearfix helper taken from http://nicolasgallagher.com/micro-clearfix-hack/
//
@mixin clearfix
{
    &:before,
    &:after
    {
        content: " ";
        display: table;
    }

    &:after
    {
        clear: both;
    }
}

//------------------------------------------------------------------------------
//
@mixin menu-list($float: left)
{
    list-style:   none;
    padding-left: 0;

    @if ($float != false)
    {
        li
        {
            float: $float;
        }
    }

    li > a
    {
        display: block;
    }
}

//------------------------------------------------------------------------------
//
@mixin block-list
{
    list-style:   none;
    padding-left: 0;

    li
    {
        display: block;
        width:   100%;

        > a
        {
            display: block;
        }
    }
}

//------------------------------------------------------------------------------
//
@mixin valign-middle
{
    display:        inline-block;
    vertical-align: middle;
}
